body,
html {
    overflow-x: hidden;
    background-color: #101010;
    width: 100vw;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: '微軟正黑體';
    color: #ebebeb;
    font-size: 30px;
}

hr {
    border: 2px solid #606060;
}

div.input {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px 50px;
    margin: 20px 0;
    gap: 5px 0px;
    grid-template-areas:
        "input-title input-error"
        "input-type input-type";
}

div.input .input-title {
    grid-area: input-title;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: #8c8c8c;
    font-size: 0.45em;
}

div.input .input-error {
    grid-area: input-error;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #c80000cc;
    font-size: 0.5em;
}

div.input .input-type {
    grid-area: input-type;
}

div.input .input-type input {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    font-size: 0.6em;
    background-color: #2a2a2a;
    padding: 15px 20px;
    box-sizing: border-box;
    transition: 500ms;
}

input,
button {
    outline: none;
    background-color: #202020;
    border: 2px solid #4c4c4c;
    box-shadow: 1px 1px 4px #101010 inset;
    color: #bebebe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 5px 0;
}

input[type=submit],
input[type=button],
button {
    transition: 400ms;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    color: #e6e6e6;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
    background-color: #444444;
}